@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #d42120;
  --gold: #d1964a;
  --orange: #e66818 ;
  --deep-blue: #115386;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}




@theme inline {

  /*color*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: var(--red);
  --color-gold: var(--gold);
  --color-orange: var(--orange);
  --color-deep-blue: var(--deep-blue);

  /*fonts*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}


.custom-padding {
  @apply
  px-[40px]
}